/*GLOBAL*/
:root{
font-family:'Varela Round', sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*HEADER SECTION*/

.title{
  font-size: 3rem;
}


/*GAME-BOARD SECTION*/

.game-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-board{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));

  width: 500px;
  height: 500px;

  margin: 10px;
}

.game-board .square{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: lightblue;
  border: 1px solid black;

  font-size: 5rem;
}


/*FOOTER SECTION*/

.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#github-icon{
  width: 25px;
}

/*Removes SyndicateGit link color and underline*/
a{
  text-decoration: none;
  color: inherit;
}

/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}