/*GLOBAL*/
:root{
font-family:'Varela Round', sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*HEADER SECTION*/

.title{
  font-size: 3rem;
}


/*GAME-BOARD SECTION*/

.game-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-board{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));

  width: 500px;
  height: 500px;

  margin: 10px;
}

.game-board .square{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #89cff0;
  border: 1px solid black;

  font-size: 5rem;
}


/*FOOTER SECTION*/

.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#github-icon{
  width: 25px;
}

/*Removes SyndicateGit link color and underline*/
a{
  text-decoration: none;
  color: inherit;
}

/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

/*Win fireworks particles*/

#btn{
  display: none;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #89cff0;
  font-weight: bold;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	min-height: 100vh;
	overflow: hidden;
}

button {
	background-color: rebeccapurple;
	border-radius: 5px;
	box-shadow: 4px 4px 5px rgba(255, 255, 255, 0.15);
	border: none;
	color: white;
	cursor: pointer;
	padding: 1rem 2rem;
	position: relative;
	transition: transform 0.1s linear, box-shadow 0.1s linear;
	z-index: 10;
}

button:active {
	transform: translate(4px, 4px);
	box-shadow: 0 0 0 rebeccapurple;
}

button:focus {
	outline: none;
}

.particle {
	--x: 0;
	--y: 0;
	background-color: rebeccapurple;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 5px;
	width: 5px;
	z-index: -1;
}

.particle.move {
	animation: move 1000ms linear forwards;
}

@keyframes move {
	to {
		transform: translate(var(--x), var(--y));
	}
	
	95% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}